#layout-navbar {
    padding: 20px 50px;
    position: relative;
    bottom: 0;
    padding: 50px 50px 50px 100px;
    margin-left: 100px;
    box-shadow: 6px 6px 16px rgba(18, 18, 18, .3);
    background-color: #fff;

    h4 {
      font-weight: 200; 
      font-size: 20px;

      span {
        font-weight: 700;
      }
    }

    h3 {
      grid-column: 1/-1;
      font-weight: 400;
      text-align: center;
      margin-top: 40px;
      font-size: 25px;
    }

    p {
      text-align: center;
      margin-top: 10px;
    }

    h2 {
      padding: 5px 0 20px 0;
      width: 500px;
      font-size: 35px;
    }
    .navbar-nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      list-style-type: none;
      gap: 10px;
    }

    .navbar-item {
      a {
      color: #333;
      text-decoration: none;
      font-weight: 200;  
      font-size: 19px;
    }
  }
  }

.navigation {
    position: absolute;
    padding: 100px 0;
    transform: translateY(-50px);
    transition: all .2s linear;
    opacity: 0;
    z-index: 500;
    margin-top: 50px;
  }

  .nav_slideIn {
    animation: .2s slideIn linear forwards;
  }

  @keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @media screen and (max-width: 950px) {
    #layout-navbar {
      margin-left: 0;
  
      h2 {
        font-size: 25px;
        width: auto;
      }
  
      h3 {
        font-size: 15px;
      }

      .navbar-nav {
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
      }

      div:nth-of-type(2) {
        order: 2;
      }

      div:nth-of-type(4) {
        order: 4;
      }
    }
  }

  @media screen and (max-width: 700px) {
    #layout-navbar {
        padding: 30px;
        margin-top: -50px;
    }
}

@media screen and (max-width: 500px) {
  #layout-navbar {
      .navbar-nav {
        grid-template-columns: 1fr;
        gap: 0px;
      }

      div:nth-of-type(2),
      div:nth-of-type(4) {
        order: initial
      }
  }
}