header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  .letter {
    font-size: 20em;
    margin-left: 50px;
    text-shadow:0px 3px 3px rgba(19, 19, 19, .4);
  }

  @media screen and (max-width: 700px) {
    header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 50vh;
      width: 100vw;
    }
  
    .letter {
      font-size: 8em;
    }
  }
  