* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-style: normal;
  cursor: default;

}

body {
  font-family: titling-gothic-fb, sans-serif;
}

